extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name of album:
      input#name.form-control(type='text', placeholder='Name of album' name='name' required='true' value=(undefined===album ? '' : album.name) )
    div.form-group
      label(for='year') Year of album:
      input#year.form-control(type='text', placeholder='Year of album' name='year' required='true' value=(undefined===album ? '' : album.year) )
    div.form-group
      label(for='artist') Artist:
      select#artist.form-control(type='select' placeholder='Select artist' name='artist' required='true' )
        for artist in artists
          if album
            option(
              value=artist._id
              selected=( selected_artist==album.artist._id.toString() ? 'selected': false)) #{artist.name}
          else
            option(value=artist._id) #{artist.name}
   
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
