extends layout

block content
.w3-container
    if locals.user
      h4 You are logged in!
    else
      h4 You are not logged in! Please #[a(href="/login") Log In] to continue.
  h1 Title: #{song.title}
  
  p #[strong Artist:] #{song.artist.name}

   
  p #[strong Length:] #{song.length}
  

    hr
    p
      a(href=song.url+'/delete') Delete Song
    p
      a(href=song.url+'/update') Update Song