extends layout

block content
.w3-container
    if locals.user
      h4 You are logged in!
    else
      h4 You are not logged in! Please #[a(href="/login") Log In] to continue.

  h1 #{title}: #{song.title}
  
  p #[strong Author:] 
    a(href=song.artist.url) #{song.artist.name}
  p #[strong length:] #{song.length}
 

 
    p Do you really want to delete this song?

    form(method='POST' action='')
        div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=song._id )

        button.btn.btn-primary(type='submit') Delete